* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-align: center;
    justify-content: center;
    padding: 1.2rem;
    color: #212020;
    margin-bottom: 1.6rem;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 10px;
    background: burlywood;
}

.form-wrap {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
}

.form-wrap h2,
#searchDiv h2 {
    margin: 20px;
    text-align: center;
}


.form-wrap label,
#searchDiv label {
    display: block;
    text-align: left;
    font-size: large;
    color: #474747;
    margin-bottom: 5px;
}

.form-wrap input {
    width: 30rem;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #8f8f8f;
    border-radius: 5px;

}

.form-wrap button {
    display: inline-block;
    background: coral;
    color: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    text-transform: uppercase;
    width: 75%;
}

p {
    font-size: small;
    justify-content: left;
}

h2 {
    margin: 20px 0;
}

table {
    margin-bottom: 30px;
    border-collapse: collapse;
}

thead {
    background-color: coral;
    color: black;
}

td,
th {
    text-align: center;
    width: 200px;
    padding: 15px;
    border: 1px solid burlywood;

}

tr:nth-child(odd) {
    background-color: rgba(222, 184, 135, 0.422);
}

#searchDiv {
    text-align: left;
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
}

#searchDiv input {
    width: 30rem;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #8f8f8f;
    border-radius: 5px;

}

#searchDiv button {
    display: inline-block;
    background: coral;
    color: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    text-transform: uppercase;
    width: 20%;
}


#searchResult {
    margin-top: 20px;
    padding: 10px;
}

#error {
    color: red;
    font-size: small;
}

button:hover,
#searchDiv button:hover {
    background-color: rgb(127, 38, 6);
}

#content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 13px;

}

#tableDiv {
    text-align: left;
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 96%;
    margin-top: 3rem;
}

/* MEDIA QUERY  */
@media screen and (max-width: 768px) {
    #content {
        flex-direction: column;
    }

    .form-wrap,
    #searchDiv,
    #tableDiv {
        margin: 0;
        margin-bottom: 20px;
        padding: 15px;
    }

    table,
    input[type="text"],
    input[type="number"] {
        font-size: 14px;

    }

    button {
        font-size: 14px;
        padding: 8px 12px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 12px;
    }

    #content,
    #tableDiv {
        padding: 10px;
    }

    .form-wrap,
    #searchDiv,
    #tableDiv {
        padding: 1px;
        border: none;
    }

    table {
        font-size: 8px;
        border-collapse: collapse;
        width: 70%;
    }

    th,
    td {
        font-size: 8px;
        padding: 6px;
        text-align: left;
    }

    input[type="text"],
    input[type="number"],
    input[type="color"] {
        font-size: 8px;
    }

    button {
        font-size: 8px;
        padding: 6px 10px;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: flex;
        width: 70%;
    }

    thead {
        display: flex;
    }

    tr {
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    td {
        display: flex;
        justify-content: space-between;
        padding: 6px;
    }
}